In [4]:
import pandas as pd

# Data eksogen
data_exog = pd.DataFrame({
    'Tanggal': pd.date_range(start='2024-04-30', periods=21, freq='D'),
    'Harga Pupuk': [5000, 5100, 5200, 5300, 5400, 5500, 5600, 5700, 5800, 5900,
                    6000, 6100, 6200, 6300, 6400, 6500, 6600, 6700, 6800, 6900, 7000],
    'Curah Hujan': [120, 110, 115, 100, 130, 140, 125, 135, 145, 150,
                    160, 155, 165, 170, 175, 180, 185, 190, 195, 200, 205],
    'Jumlah Produksi': [10000, 10500, 10300, 10700, 11000, 11500, 11200, 11700, 12000, 12500,
                        13000, 13500, 14000, 14500, 15000, 15500, 16000, 16500, 17000, 17500, 18000]
})

print("Data Eksogen:")
print(data_exog)

# Data utama
data = pd.DataFrame({
    'Tanggal': pd.date_range(start='2024-04-30', periods=21, freq='D')[::-1],  # Membalik urutan tanggal untuk kesesuaian dengan data yang diberikan
    'Terakhir': [17823, 18090, 18340, 18485, 18750, 18590, 18850, 18755, 19100, 19110, 18715, 19255, 18685, 18315, 18295, 18405, 18740, 18170, 18970, 18890, 18890],
    'Pembukaan': [18040, 18460, 18460, 18815, 18850, 18830, 18770, 19090, 19035, 18900, 18648, 18760, 18440, 18400, 18405, 18440, 18650, 18445, 19085, 19105, 19105],
    'Tertinggi': [18043, 18595, 18485, 19005, 18880, 18830, 18865, 19145, 19180, 19160, 18930, 18840, 19005, 18483, 18405, 18420, 18650, 18445, 19165, 19150, 19150],
    'Terendah': [17808, 18050, 18300, 18380, 18565, 18565, 18700, 18725, 18830, 18730, 18558, 18760, 18400, 18395, 18405, 18810, 18650, 18300, 19085, 18850, 18850]
})

# Menggabungkan data eksogen ke dalam data utama
data_gabungan = data.merge(data_exog, on='Tanggal', how='left')

# Mengganti nilai NaN dengan 1
data_gabungan.fillna(1, inplace=True)

print("Data Gabungan setelah mengganti NaN dengan 1:")
print(data_gabungan)

Data Eksogen:
      Tanggal  Harga Pupuk  Curah Hujan  Jumlah Produksi
0  2024-04-30         5000          120            10000
1  2024-05-01         5100          110            10500
2  2024-05-02         5200          115            10300
3  2024-05-03         5300          100            10700
4  2024-05-04         5400          130            11000
5  2024-05-05         5500          140            11500
6  2024-05-06         5600          125            11200
7  2024-05-07         5700          135            11700
8  2024-05-08         5800          145            12000
9  2024-05-09         5900          150            12500
10 2024-05-10         6000          160            13000
11 2024-05-11         6100          155            13500
12 2024-05-12         6200          165            14000
13 2024-05-13         6300          170            14500
14 2024-05-14         6400          175            15000
15 2024-05-15         6500          180            15500
16 2024-05-16         6600          185            16000
17 2024-05-17         6700          190            16500
18 2024-05-18         6800          195            17000
19 2024-05-19         6900          200            17500
20 2024-05-20         7000          205            18000
Data Gabungan setelah mengganti NaN dengan 1:
      Tanggal  Terakhir  Pembukaan  Tertinggi  Terendah  Harga Pupuk  \
0  2024-05-20     17823      18040      18043     17808         7000
1  2024-05-19     18090      18460      18595     18050         6900
2  2024-05-18     18340      18460      18485     18300         6800
3  2024-05-17     18485      18815      19005     18380         6700
4  2024-05-16     18750      18850      18880     18565         6600
5  2024-05-15     18590      18830      18830     18565         6500
6  2024-05-14     18850      18770      18865     18700         6400
7  2024-05-13     18755      19090      19145     18725         6300
8  2024-05-12     19100      19035      19180     18830         6200
9  2024-05-11     19110      18900      19160     18730         6100
10 2024-05-10     18715      18648      18930     18558         6000
11 2024-05-09     19255      18760      18840     18760         5900
12 2024-05-08     18685      18440      19005     18400         5800
13 2024-05-07     18315      18400      18483     18395         5700
14 2024-05-06     18295      18405      18405     18405         5600
15 2024-05-05     18405      18440      18420     18810         5500
16 2024-05-04     18740      18650      18650     18650         5400
17 2024-05-03     18170      18445      18445     18300         5300
18 2024-05-02     18970      19085      19165     19085         5200
19 2024-05-01     18890      19105      19150     18850         5100
20 2024-04-30     18890      19105      19150     18850         5000

    Curah Hujan  Jumlah Produksi
0           205            18000
1           200            17500
2           195            17000
3           190            16500
4           185            16000
5           180            15500
6           175            15000
7           170            14500
8           165            14000
9           155            13500
10          160            13000
11          150            12500
12          145            12000
13          135            11700
14          125            11200
15          140            11500
16          130            11000
17          100            10700
18          115            10300
19          110            10500
20          120            10000