In [4]:
import pandas as pd

# Load the dataset
file_path = 'data.csv'
data = pd.read_csv(file_path, delimiter=';')

# Data cleaning
data['Terakhir'] = data['Terakhir'].str.replace(',', '.').astype(float)
data['Pembukaan'] = data['Pembukaan'].str.replace(',', '.').astype(float)
data['Tertinggi'] = data['Tertinggi'].str.replace(',', '.').astype(float)
data['Terendah'] = data['Terendah'].str.replace(',', '.').astype(float)
data['Perubahan%'] = data['Perubahan%'].str.replace('%', '').str.replace(',', '.').astype(float)
data['Vol.'] = data['Vol.'].str.replace('K', '').str.replace(',', '.').astype(float) * 1000

# Convert 'Tanggal' to datetime
data['Tanggal'] = pd.to_datetime(data['Tanggal'], format='%d/%m/%Y')
data.set_index('Tanggal', inplace=True)

# Fill missing values with the mean of each column
data.fillna(data.mean(), inplace=True)

# Create dummy variables for missing values
for column in ['Pembukaan', 'Tertinggi', 'Terendah', 'Vol.', 'Perubahan%']:
    data[f'{column}_dummy'] = np.where(data[column].isnull(), 1, 0)

data

,Terakhir,Pembukaan,Tertinggi,Terendah,Vol.,Perubahan%,Pembukaan_dummy,Tertinggi_dummy,Terendah_dummy,Vol._dummy,Perubahan%_dummy
Tanggal,,,,,,,,,,,
2024-05-29,17.823,18.040,18.043,17.808,224.705882,-1.48,0,0,0,0,0
2024-05-28,18.090,18.460,18.595,18.050,680.000000,-1.36,0,0,0,0,0
2024-05-24,18.340,18.460,18.485,18.300,590.000000,-0.78,0,0,0,0,0
2024-05-23,18.485,18.815,19.005,18.380,520.000000,-1.41,0,0,0,0,0
2024-05-22,18.750,18.580,18.800,18.565,340.000000,0.86,0,0,0,0,0
2024-05-21,18.590,18.830,18.835,18.565,330.000000,-1.38,0,0,0,0,0
2024-05-20,18.850,18.770,18.865,18.700,330.000000,0.51,0,0,0,0,0
2024-05-17,18.755,19.090,19.145,18.725,290.000000,-1.81,0,0,0,0,0
2024-05-16,19.100,19.035,19.180,18.830,270.000000,-0.05,0,0,0,0,0
2024-05-15,19.110,18.900,19.160,18.730,270.000000,2.11,0,0,0,0,0
2024-05-14,18.715,18.648,18.930,18.558,224.705882,0.05,0,0,0,0,0
2024-05-13,18.705,19.250,19.250,19.250,10.000000,-2.86,0,0,0,0,0
2024-05-10,19.255,18.760,18.840,18.760,0.000000,3.05,0,0,0,0,0
2024-05-09,18.685,18.440,19.005,18.440,224.705882,2.02,0,0,0,0,0
2024-05-08,18.315,18.400,18.483,18.395,224.705882,0.11,0,0,0,0,0
2024-05-07,18.295,18.405,18.405,18.405,0.000000,-0.60,0,0,0,0,0
2024-05-06,18.405,18.400,18.420,18.180,10.000000,-1.79,0,0,0,0,0
2024-05-03,18.740,18.650,18.650,18.650,0.000000,3.14,0,0,0,0,0
2024-05-02,18.170,18.445,18.445,18.300,10.000000,-4.22,0,0,0,0,0
2024-05-01,18.970,19.085,19.165,19.085,20.000000,0.42,0,0,0,0,0
2024-04-30,18.890,19.105,19.150,18.850,150.000000,-1.10,0,0,0,0,0

In [5]:
# Configuration dictionary
config = {
    'target': 'Terakhir',
    'exogenous': ['Pembukaan', 'Tertinggi', 'Terendah', 'Vol.', 'Perubahan%', 
                  'Pembukaan_dummy', 'Tertinggi_dummy', 'Terendah_dummy', 'Vol._dummy', 'Perubahan%_dummy'],
    'order': (1, 1, 1),
    'seasonal_order': (1, 1, 1, 12)
}

# Prepare data
y = data[config['target']]
X = data[config['exogenous']]

# Split the data into training and testing sets
train_size = int(len(data) * 0.8)
y_train, y_test = y[:train_size], y[train_size:]
X_train, X_test = X[:train_size], X[train_size:]

print(f"Training set size: {len(y_train)}")
print(f"Testing set size: {len(y_test)}")

Training set size: 16
Testing set size: 5